main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    margin: 0;
}

#logo {
    width: 250px;
    height: 250px;
    flex: none;
    order: 0;
    cursor: auto;
}

section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
    border-radius: 32px;
    order: 1;
}

article {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 10px;
    width: 500px;
    height: 500px;
    background: #DDDDDD;
    box-shadow: 0px 12px 100px rgba(255, 255, 255, 0.1);
    border-radius: 32px;
    position: relative;
    background: linear-gradient(0deg, #3523CA 0%, #BF1A4C 40%);
}

article > img {
    max-width: 100%;
    border-radius: 32px;
}

article > h2 {
    position: absolute;
    bottom: 12px;
    color: #FFFFFF;
    margin: 10px;
    margin-top: 0;
}

article > p {
    margin: 1rem;
    display: none;
    color: #FFFFFF;
}

article:hover > p {
    display: block;
}

article:hover > h2 {
    bottom: 5em;
}

button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    gap: 10px;
    width: 555px;
    height: 111px;
    background: linear-gradient(102.03deg, #BF1A4C 0%, #BF1A4C 0.01%, #3523CA 100%);
    box-shadow: 0px 12px 100px rgba(255, 255, 255, 0.15);
    border-radius: 16px;
    border: none;
    order: 1;
    font-weight: 700;
    font-size: 32px;
    color: #FFFFFF;
}



button:hover ~ table {
    display: block;
}

table {
    display: none;
    background: linear-gradient(180deg, #3523CA 0%, #BF1A4C 100%);
    color: #FFFFFF;
    border-radius: 16px;
}

table, th, td {
    border: 1px solid var(--Dark);
    border-spacing: 0;
    order: 2;
    width: 500px;
    max-width: 100%;
    text-align: center;
}

th, td {
    padding: 10px;
}

@media screen and (max-width: 1600px) and (min-width: 320px) {
    section {
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        max-width: 100%;
    }

    article {
        max-width: 100%;
        height: auto;
        align-items: center;
    }

    article > h2 {
        display: block;
        bottom: 5em;
        height: auto;
    }

    article:hover > h2 {
        cursor: none;
    }

    article > p {
        display: block;
    }

    table {
        display: block;
    }
}

@media screen and (max-width: 1600px) and (min-width: 540px) {
    article > h2 {
        display: block;
        bottom: 20%;
    }
}
