main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    width: 250px;
    height: 250px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 25px;
    height: 500px;
    
    border-radius: 32px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 10px;
    
    width: 463.33px;
    height: 500px;
    
    background: #DDDDDD;
    
    box-shadow: 0px 12px 100px rgba(255, 255, 255, 0.1);
    border-radius: 32px;
}

article > img {
    max-width: 100%;
}

#article1 {
    flex: none;
    order: 0;
    flex-grow: 0;
}

#article2 {
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

#article3 {
    flex: none;
    order: 2;
    flex-grow: 0;
}
/* main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 500px;
    border: 5px solid var(--Dark);
    border-radius: 10%;
    margin: 1rem;
    filter: drop-shadow(0px 12px 60px rgba(0, 0, 0, 0.1));
    background-color: var(--Light);
}

article > img {
    border-top: 5px solid var(--Dark);
    border-bottom: 5px solid var(--Dark);
    max-width: 100%;
}

article > h2 {
    text-align: center;
    margin: 1rem;
}

article > p {
    margin: 1rem;
}

table, th, td {
    border: 1px solid var(--Dark);
    border-spacing: 0;
} */
