@import url('colors.css');
@import url('header.css');
@import url('footer.css');

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h2, h3, p, a, table {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

body {
    width: auto;
    max-width: 1480px;
    padding: 0 20px;
    background-color: var(--Dark);
}

header {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
}
