@import url('colors.css');
@import url('header.css');
@import url('footer.css');

:root {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    --mobile: 767px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h2, h3, p, a, table, button {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

body {
    max-width: 1480px;
    margin: auto;
    padding: 0 20px;
    background-color: var(--Dark);
}

.motogpGradient {
    z-index: -1;
    position: absolute;
    right: 25%;
    top: 12.5%;
    filter: blur(350px);
    -webkit-filter: blur(350px);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.unselectable {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
